[Unit]
Description=WireGuard Network Namespace (%i)
Wants=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity
Environment=DEBUG_LEVEL=1
ExecStart=wg-netns up ./%i.json
ExecStop=wg-netns down ./%i.json
RemainAfterExit=yes

WorkingDirectory=%E/wg-netns
ConfigurationDirectory=wg-netns

[Install]
WantedBy=multi-user.target
